{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "rules": {
     "indentation": 4,
     "declaration-block-single-line-max-declarations": 5,
     "value-keyword-case": ["lower", { "ignoreKeywords": ["dummyValue"] }],
     "no-descending-specificity": null
  }
}